<div class="row">
</div></br>

<div class="row">
        <div class="col-md-12">
          Please select one option.
         </div></br>
      </div>
      <div class="row">
         <div class="col-md-4">
           <a class="btn btn-primary" href="/game/paper/" role="button"> <span class="glyphicon glyphicon-file"></span> Paper </a>
          </div>
          <div class="col-md-4">
           <a class="btn btn-primary" href="/game/rock/" role="button">Rock</a>      
          </div>
          <div class="col-md-4">
           <a class="btn btn-primary" href="/game/scissors/" role="button"><span class="glyphicon glyphicon-scissors"></span> Scissors</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12"></br>
          {{gameResult}}
         </div>
        </div>